{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="mt-3">La liste des personnes dans la DB</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">N°</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
            </tr>
            </thead>
            <tbody>
            {% for person in persons %}
                <tr>
                    <th scope="row">{{ person.id }}</th>
                    <td>{{ person.firstname }}</td>
                    <td>{{ person.surname }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}